body {
    font-family: Arial, sans-serif;
    background-color: hsl(245, 18%, 13%);
    color: #fff;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

h2 [class="container"] {
    max-width:500px
}

#currencySelect {
    width: 30%;
}

#currencySelect

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.amount {
    font-size: 2em;
    margin: 0;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.action-button {
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.transactions {
    background-color: pglight;
    border-radius: 10px;
    padding: 10px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #4A4A6A;
}

.transaction-item:last-child {
    border-bottom: none;
}

.transaction-details {
    flex-grow: 1;
}

.transaction-name {
    margin: 0;
    font-size: 1em;
}

.transaction-date {
    margin: 0;
    font-size: 0.8em;
    color: black;
}

.transaction-amount {
    font-size: 1em;
}

.see-all-button {
    background: none;
    border: none;
    color: #4A90E2;
    cursor: pointer;
    padding: 10px 0;
    text-align: left;
}
